# Ignore VS Code settings
.vscode/settings.json
.vscode/

# Ignore SFML library folder (nếu copy vào project)
SFML/
sfml/
Libs/SFML/
lib/SFML/

# Build files
*.exe
*.obj
*.dll
*.out

# Ignore build folder
release/
